/* stylesheet by MyEpil Landing Page */

<link href="https://fonts.googleapis.com/css?family=Lato:300,400,700,900|Montserrat:300,300i,400,500,600,700,800,900|Open+Sans:300,400,600,700,800|Roboto:300,400,500,700,900" rel="stylesheet">
@font-face {
    font-family: "arkitech-light";
    src: url("../fonts/arkitech/Arkitech Light.ttf");
    src: local('?'),
        url("../fonts/arkitech/Arkitech Light.ttf") format("truetype"),
        url("../fonts/arkitech/Arkitech Medium.ttf") format("truetype");
}
@font-face {
    font-family: "arkitech-medium";
    src: url("../fonts/arkitech/Arkitech Medium.ttf");
    src: local('?'),
    url("../fonts/arkitech/Arkitech Medium.ttf") format("truetype"),
    url("../fonts/arkitech/Arkitech Light.ttf") format("truetype");
}
@font-face {
    font-family: "Gilroy-ExtraBold";
    src: url("../fonts/Gilroy-ExtraBold.otf");
    src: local('?'),
    url("../fonts/Gilroy-ExtraBold.otf"),
    url("../fonts/Gilroy-Light.otf");
}

@font-face {
    font-family: "Gilroy-Light";
    src: url("../fonts/Gilroy-Light.otf");
    src: local('?'),
    url("../fonts/Gilroy-Light.otf"),
    url("../fonts/Gilroy-ExtraBold.otf");
}
/* Reset CSS
 * --------------------------------------- */
body,div,dl,dt,dd,ul,ol,li,h1,h2,h3,h4,h5,h6,pre,
form,fieldset,input,textarea,p,blockquote,th,td {
    padding: 0;
    margin: 0;
}
a{
	text-decoration:none;
}
table {
    border-spacing: 0;
}
fieldset,img {
    border: 0;
}
address,caption,cite,code,dfn,em,strong,th,var {
    font-weight: normal;
    font-style: normal;
}
strong{
	font-weight: bold;
}
ol,ul {
    list-style: none;
    margin:0;
    padding:0;
}
caption,th {
    text-align: left;

}
h1,h2,h3,h4,h5,h6 {
    font-weight: normal;
    font-size: 100%;
    margin:0;
    padding:0;
    color:#f2f2f2;
    white-space: pre-line;
}
q:before,q:after {
    content:'';
}
abbr,acronym { border: 0;
}
/* Custom CSS
 * --------------------------------------- */
body{
    font-family: 'Gilroy-ExtraBold', 'Open Sans', sans-serif;
    font-size: 16px;
    color: #333;
}
h1{
    font-size: 1.5em;
    color: #333;
}
p{
    font-size: 2em;
}
.black, .black2{
    color: #000;
    font-size: 4em;
    line-height: 1.5em;
}
.black2{
    font-size: 5em;
}
.verde{
    color: #068700;
}
/* Hamburger Menu
 * --------------------------------------- */

/* sections
    -------------------------------------- */
#pp-nav{
    right:-5%;overflow:hidden;transition-duration:1s;}
.pp-section{position:fixed;}
.section{
   background-repeat: no-repeat;
}
#section1, #section2, #section3, #section4, #section5, #section6, #section7{
    background-size: 100%;height: 100%;}
#section1 {
   background-image: url('../img/Section1-320px.jpg');
}
#section1 > div > a{
    margin-top: 4em;
}
#section2 {
   background-image: url('../img/Section2-320px.jpg');
}
#section3 {
   background-image: url('../img/Section3-320px.jpg');
}
#section4 {
   background-image: url('../img/Section4-320px.jpg');
}
#section5 {
   background-image: radial-gradient(circle, #fff, #aafffe);
}
#section6 {
   background-image: radial-gradient(circle, #fff, #c5c5c5);
}
#section7 {
    background-image: linear-gradient(to bottom, #1f1f1e, #000);
}
.right-site {
    position: absolute;
    top: 82%;
    left: 47%;
    line-height: .7em;}
.right-site2,
.right-site3{
    position: absolute;
    top:70%;
    left:2%;
}
.left-site{
    position: absolute;
    top: 20%;
    left:2%;
}
.top{
    top:39%;
}
.top1{
    top:29%;
}
.top5{
    position: relative;
    left: 6%;
    font-size: 2em;
    margin-top: -4%;
    margin-bottom: 10%;
}
.tercio-left1{
    display: inline-table;
    height: 20%;
    padding-top: 20%;
    width: 100%;
}
/* ----------------------------------------- */
#menu{
    position: absolute;
    display: grid;
    width: 100%;
    top: 2%;
    right: 2%;
    z-index: 100;
    text-align: right;
}
#menu > li{
    display: inline-block;
    font-family: 'Gilroy-Light', 'Open Sans', sans-serif;
    font-size: .8em;
    color: rgba(0, 0, 0, .5);
    text-decoration: none;
    margin: 1.1% 0;
}
#menu li.active {
    border-right: 2px solid #ff0000;
    padding-right: 5px;
    transition-duration: 1s;
}
#menu li.active a{
    color:#ff0000!important;
}
#menu li a{
    color:#000;
}
.pp-viewing-top a#MyEpil, .pp-viewing-man a#MyEpil,
.pp-viewing-tech a#MyEpil, .pp-viewing-features a#MyEpil,
.pp-viewing-price a#MyEpil, #MyEpil{
    font-family: 'arkitech-light', 'arkitech-medium', 'Open Sans', sans-serif;
    color: #333;
    font-size: 1em;
    position: absolute;
    z-index: 300;
    left: 5px;
    top: 15px;
    transition-delay: .6s;
    transition-duration: 3s;
}
.pp-viewing-woman a#MyEpil, .pp-viewing-contact a#MyEpil{
    font-family: 'arkitech-light', 'arkitech-medium', 'Open Sans', sans-serif;
    color: #fff;
    font-size: 1em;
    position: absolute;
    z-index: 300;
    left: 5px;
    top: 15px;
    transition-delay: .7s;
    transition-duration: 3s;
}
.pp-viewing-contact #menu li a{
    color: #fff;
    transition-delay: .5s;
    transition-duration: 3s;
}
.title-light, .title-light1,
.subtitle, .par-prices{
    font-family: 'Gilroy-Light', 'Open Sans', sans-serif;
    color: #000;
    font-size: .75em;
}
.title, .title-prices, .title-prices-central{
    font-family: 'Gilroy-ExtraBold', 'Open Sans', sans-serif;
    color: #000;
    font-size: 1.5em;
    line-height: .7em;
}
.title-contact{
    font-family: 'Gilroy-ExtraBold', 'Open Sans', sans-serif;
    color: #fff;
    font-size: 1.5em;
    line-height: .7em;
    margin: 13% 0 0 3%;
}
.text-address{
    position: relative;
    font-family: 'Gilroy-Light', 'Open Sans', sans-serif;
    color: #fff;
    font-size: .8em;
    left: 3%;
}
.text-address br{
    margin-left:1%;
}
.phones{
    margin: -15% 0 0 0;
    position: relative;
    left: 40%;
}
div.linea, div.mapa{
    display: none;
}
#section6 div div.tercio-left div p,
#section6 div div.tercio-central div p,
#section6 div div.tercio-right div p{
    position: relative;
    margin: -30% 0 0 48%;
    color: #000;
}
#section6 div div.tercio-left div p{
    margin-top:-20%;
}
#section6 div div.tercio-central div p{
    margin-top:-19%
}
div.tercio-right{
    margin-top: 12%;
}
.precio-diez{
    font-family: 'Gilroy-ExtraBold', 'Open Sans', sans-serif;
    color: #000;
    font-size: 2em;
    line-height: .7em;
    top:76%;
}
.sig-euro{
    position: relative;
    display: inline-block;
    font-size: .60em;
    margin-top: 3%;
    vertical-align: text-top;
}
.sig-euro2{
    position: relative;
    display: inline-block;
    font-size: .60em;
    margin-top: 3%;
    vertical-align: text-top;
}
#section2 > div > div > h6,
#section3 > div > div > h6{
    position: absolute;
    top: 82%;
    font-size: 1.2em;
}
#section2 > div > div > a,
#section3 > div > div > a{
    top: 89%;
    left: 2%;
}
.bottom-normal{
    color: #000;
}
.bottom-normal:hover{
    color: #ff0000;
}
#section5 div div a.bottom-normal{
    position: absolute;
    bottom: 5%;
    left:18%;
}
#section4 div div h3{
    line-height: 1em;
}
.tercio-left1 h3, .tercio-left,
.tercio-central1 h3, .tercio-central,
.tercio-right1 h3, .tercio-right{
    position: relative;
    left: 18%;
    margin-top: 2%;
}
.tercio-left, .tercio-central, .tercio-right{
    left:10%;
}
#section6 div div.tercio-central div ul,
#section6 div div.tercio-left div ul,
#section6 div div.tercio-right div ul{
    margin-top: 2%;
}
#section6 div div.tercio-left div a.bottom-precio,
#section6 div div.tercio-central div a,
#section6 div div.tercio-right div a.bottom-precio{
    position: relative;
    left: 45%;
    color: #000;
}
.tercio-central1 h3,
.tercio-right1 h3{
    margin-top: 5%;
}
div.tercio-left1 h4,
div.tercio-central1 h5,
div.tercio-right1 h5{
    position: relative;
    font-size: .7em;
    left: 19%;
    margin-top: 2%;
}
.black, .black2 {
    position: absolute;
    left: 3%;
    margin-top: -8px;
    color: #000;
    font-size: 1.9em;
    line-height: 1.5em;
}
.tercio-central1 i{
    font-size: 2.5em;
    margin-top: -20px;
}
.rublo{
    font-size: .5em;
}
#section6 div div.tercio-central div{
    margin-top: 13%;
}
.contactMe{
    margin: 0 1% 5% 3%;
}
.contactMe.medium{
    max-width: 230px;
}
.contactMe .field.cm-date,
.contactMe .field.cm-time{
    background-image: none;
    padding-right: 0px;
}
.contactMe input,
.contactMe .select2-container .select2-selection{
    height: 30px;}
.contactMe .select2-container .select2-selection .select2-selection__rendered{
    padding: 0 4px 0 0;
    line-height: 32px;}
.select2-container--default .select2-selection--single .select2-selection__arrow b{
    top:12%;
    left:80%;}
.contactMe textarea{
    height: 70px;
}
.social-icons{
    font-size: 1.2em;
    position: absolute;
    display: inline-grid;
    width: 31px;
    top: 45%;
    right: 0;
}
.social-icons a{
    margin-bottom: 45%;
}
.mapa-mobile{
    position: absolute;
    bottom: -3px;
    right: 0;
    background-image: url('../img/mapa-320.png');
    background-repeat: no-repeat;
    width: 74px;
    height: 80px;
}
.pointer-mobile{
    position: absolute;
    right: 18px;
    bottom: 30px;
    color: red;
    font-size: 1.2em;
    -webkit-animation: jump 1.5s ease 0s infinite normal ;
    animation: jump 1.5s ease 0s infinite normal ;
}

@media only screen and (min-width: 414px){
    .precio-diez{top:75%;}
    #section2 div div h6, #section3 div div h6{top:80%;}
    #section6 div div.tercio-central div p{margin-top: -17%;}
    #section6 div div.tercio-right div p{margin: -24% 0 0 48%;}
    .social-icons{display: inline-block; width: 50%; top:93%; left: 3%;}
    .social-icons a{margin-bottom: 0; margin-right: 5%;}
    .contactMe.medium{max-width: 380px;}
    .phones{margin:-12% 0 0 0;}
    .contactMe .field.cm-date{background-image: url('../contactme/imgs/cal1.png');}
    .contactMe .field.cm-time{background-image: url('../contactme/imgs/time1.png');}
    #section1{background-image: url('../img/Section1-414px.jpg');}
    #section2{background-image: url('../img/Section2-414px.jpg');}
    #section3{background-image: url('../img/Section3-414px.jpg');}
    #section4{background-image: url('../img/Section4-414px.jpg');}
    .right-site{top:85%;left:57%;}
    #section2 div div a, #section3 div div a{top:85%;}
    .mapa-mobile{background-image: url('../img/mapa-414.png');width: 120px;height: 120px;}
    .pointer-mobile{right: 37px;bottom: 48px;}
}

@media only screen and (min-width: 600px){

}

@media only screen and (min-width: 767px){
    #section1{background-image: url('../img/Section1-768px.jpg');}
    #section2{background-image: url('../img/Section2-768px.jpg');}
    #section3{background-image: url('../img/Section3-768px.jpg');}
    #section4{background-image: url('../img/Section4-768px.jpg');}
    .pp-viewing-top a#MyEpil, .pp-viewing-man a#MyEpil, .pp-viewing-tech a#MyEpil,
    .pp-viewing-features a#MyEpil, .pp-viewing-price a#MyEpil, #MyEpil{font-size:1.5em;left:10px;}
    #menu li{font-size:1.1em;margin:.7% 0;}
    .right-site{top:82%;left:55%;}.right-site3{top:75%;}
    .title, .title-prices, .title-prices-central{font-size:2.5em;line-height:.8em;}
    #section1 div a {margin-top:4.8em;font-size:1.5em;}
    .pp-viewing-woman a#MyEpil, .pp-viewing-contact a#MyEpil{
        font-family: 'arkitech-light', 'arkitech-medium', 'Open Sans', sans-serif;
        font-size: 1.5em;left: 10px;}
    .precio-diez{top:77%;font-size:2.5em;}
    #section2 div div h6{top:81.5%;font-size:1.8em;}
    #section3 div div a{top:93%;font-size:2em;} #section2 div div a {top:87%;}
    .bottom-normal{font-size:2em;}.top{top:42%;}
    #section3 .precio-diez{top:82%;} #section3 h6.title-light{top:87%;font-size:1.8em;}
    #section4 .title-light1 {font-size: 1.8em;}
    .tercio-left1{padding-top:0;}.black{font-size:3em;}.tercio-central1 i{font-size:3.5em;}
    div.tercio-left1 h4, div.tercio-right1 h5, div.tercio-central1 h5{font-size:1.2em;left:14%;line-height:1.1em;}
    .tercio-right1 h3, .tercio-central1 h3, .tercio-left1 h3{left:13%;}
    #section5 div div a.bottom-normal{left:13%;}
    .par-prices{font-size:1.1em;}
    .tercio-central{margin-top:17%;} div.tercio-right{margin-top:14%;}p.precio{font-size:3em;}
    #section6 div div.tercio-left div a.bottom-precio, #section6 div div.tercio-central div a,
    #section6 div div.tercio-right div a.bottom-precio{left:46%;font-size:1.5em;}
    .contactMe.medium{max-width:580px;}.contactMe{margin:0 auto;margin-bottom: 5%;}
    .title-contact{margin:0 0 0 12%;}.text-address{font-size:1.5em;left: 13%;}
    .social-icons{left: 13%;font-size:1.5em;}
    .mapa-mobile{background-image: url('../img/mapa-768.png');width:223px;height:220px;}
    .pointer-mobile{right:68px;bottom:98px;font-size:2.5em;}
    .contactMe input, .contactMe .select2-container .select2-selection{height:50px;}
    .phones{margin:-10% 0 0 0;}
    .contactMe .select2-container .select2-selection .select2-selection__rendered{line-height:47px;}
    .select2-container--default .select2-selection--single .select2-selection__arrow b{top:30%;}
}
@media only screen and (min-width:1024px){
    #section1{background-image: url('../img/Section1-1024px.jpg');}
    #section2{background-image: url('../img/Section2-1024px.jpg');}
    #section3{background-image: url('../img/Section3-1024px.jpg');}
    #section4{background-image: url('../img/Section4-1024px.jpg');}
    .pp-viewing-top a#MyEpil, .pp-viewing-man a#MyEpil, .pp-viewing-tech a#MyEpil,
    .pp-viewing-features a#MyEpil, .pp-viewing-price a#MyEpil, #MyEpil,
    .pp-viewing-woman a#MyEpil, .pp-viewing-contact a#MyEpil{font-size:2em;left:15px;}
    #menu li{font-size:1.3em;margin:.7% 0;}
    .title, .title-prices, .title-prices-central{font-size:3.5em;}
    .title-light{line-height:.4em;}
    #section1 div a{margin-top:5em;font-size:2.2em;}
    .precio-diez{font-size:4em;} #section2 div div h6{top:83.5%;font-size:2.7em;}
    .bottom-normal{font-size:2.2em;}#section2 div div a{top: 90%;}
    #section3 h6.title-light{top: 88%;font-size: 2.7em;}
    #section4 .title-light1{font-size: 2.7em;}.top{top: 44%;}
    div.tercio-left1 h4, div.tercio-right1 h5, div.tercio-central1 h5{font-size: 1.8em;}
    .black{font-size: 5em;}.black, .black2{margin-top:-22px;}
    .tercio-central1 i{font-size: 6em;margin-top: -47px;left: 2%;}
    .par-prices{font-size: 1.8em;}p.precio{font-size: 5em;}.top5{margin-bottom: 4%;}
    #section6 div div.tercio-left div a.bottom-precio{font-size: 2.5em;}
    .tercio-central{margin-top: 13%;}div.tercio-right{margin-top: 12%;}
    .contactMe.medium{max-width:650px;}.title-contact{font-size: 5em;}
    .contactMe{margin-bottom: 10%;}.text-address{font-size: 2em;left: 18%;}
    .phones{left: 47%;width: 50%;}.social-icons{left: 17%;font-size: 2.5em;}
    .contactMe .field, .contactMe *{font-size: 18px;}.contactMe input, .contactMe .select2-container .select2-selection{height:60px;}
    .contactMe textarea{height: 140px;}.mapa-mobile{background-image:url('../img/mapa-1024.png');width:270px;height:270px;}
    .pointer-mobile{right: 80px;bottom: 110px;font-size: 4em;}
    .contactMe .select2-container .select2-selection .select2-selection__rendered{height:60px;font-size:16px;line-height:60px;}
}
@media only screen and (min-width: 1365px){
    #section1{background-image: url('../img/Section1-1366px.jpg');}
    #section2{background-image: url('../img/Section2-1366px.jpg');}
    #section3{background-image: url('../img/Section3-1366px.jpg');}
    #section4{background-image: url('../img/Section4-1366px.jpg');}
    #pp-nav{display:inline;}
    #menu{display:inline-block;width:80%;right:1%;}
    #menu li{font-size:1em;margin:0 .7%;}
    #menu li.active{border-bottom:2px solid #ff0000;padding-bottom:5px;padding-right:0;border-right:none;}
    .pp-viewing-top a#MyEpil, .pp-viewing-man a#MyEpil, .pp-viewing-tech a#MyEpil, .pp-viewing-features a#MyEpil,
    .pp-viewing-price a#MyEpil, #MyEpil, .pp-viewing-woman a#MyEpil, .pp-viewing-contact a#MyEpil, .pp-viewing-woman a#MyEpil
    {left:auto;right:2%;top:94%;font-size: 1.7em;color:#000;}
    .right-site{top:42%;left: 49%;}
    #pp-nav li .active span, .pp-slidesNav .active span{border-color:#ff0000!important;background:#ff0000;}
    #pp-nav span, .pp-slidesNav span{border-color:rgba(0, 0, 0, .4)!important;}
    .pp-viewing-contact a#MyEpil{color:#505050;}
    .right-site2{top:30%;left:60%;}.precio-diez{top:42%;}#section2 div div h6{top:54%;}
    .right-site3{top:33%;left:64%;width:27%;}.title{line-height:.9em;}
    #section2 div div a{top:64%;left:60%;}
    #section3 span.title-light{line-height:0px;}
    #section3 .precio-diez{top:60%;}#section3 h6.title-light{top:72%;}
    #section3 a.bottom-normal{top: 83%;left: 64%;}#section4 .left-site{left:5%;}.top1{top:45%;}.top{top: 70%;}
    #section4 div div h3.title{top:28%;}
    .tercio-left1{display:inline-table;width:20%;margin:0 5% 0 14%;text-align:center;}
    .tercio-central1{display: inline-table;width: 20%;margin: 0 5% 0 0;text-align:center;}
    .tercio-right1{display: inline-table;width: 20%;margin: 0 8% 0 0;text-align:center;}
    div.tercio-left1 h4, div.tercio-right1 h5, div.tercio-central1 h5{font-size: 1em;}
    .tercio-central1{margin:0 3% 0 0;}.tercio-left1{margin:0 3% 0 14%;}
    #section5 .title{font-size: 3em;}.black, .black2{position:relative;left:auto;font-size: 2.5em;}
    .tercio-central1 i {font-size:4em;margin-top:0;left:auto;line-height:1em;}
    .tercio-right1 h3, .tercio-central1 h3, .tercio-left1 h3,
    div.tercio-left1 h4, div.tercio-right1 h5, div.tercio-central1 h5{left:auto;margin-top:4%;}
    #section5 div div.tercio-central1 h3{margin-top:8%;}
    #section5 div div a.bottom-normal{left:40%;bottom:13%;}
    .tercio-left{display: inline-table;width: 20%;margin-left: 20%;text-align:center;}
    .tercio-central{display: inline-table;width: 20%;text-align:center;}
    .tercio-right{display: inline-table;width: 20%;margin-right: 19%;text-align:center;}
    .center-site{display: inline-block;text-align: center;width: 30%;position: fixed;top: 60%;left: 35%;}
    .box-price-left{background:rgba(255, 255, 255, .65);border:1px solid #cacaca;border-radius:20px;width:80%;margin: 0 5% 0 15%;}
    .box-price-right{background:rgba(255, 255, 255, .65);border:1px solid #cacaca;border-radius:20px;width:80%;margin:0 15% 0 5%;}
    .box-price-center{background:rgba(255, 255, 255, .65);border:1px solid #cacaca;border-radius:20px;width:90%;margin:0 5% 0 5%;
    -webkit-box-shadow: 5px 15px 35px 10px rgba(0,0,0,0.10);-moz-box-shadow: 5px 15px 35px 10px rgba(0,0,0,0.10);
    box-shadow: 5px 15px 35px 10px rgba(0,0,0,0.10);}
    .title-prices{font-size: 1.5em;}.par-prices{font-size:1em;line-height:1.3em;}p.precio{font-size:2em;}
    .title-prices-central{font-size:2em;}
    #section6 div div.tercio-left div a.bottom-precio{font-size:1.2em;}
    #section6 .center-site{top:15%;}#section6 .tercio-left{margin-left:10%;margin-top:0;}
    .tercio-central{margin-top:5%;}div.tercio-right{margin-top:0;}
    .box-price-left, .box-price-right{padding:7% 3% 7% 3%;}.box-price-center{margin-top:0;padding:12% 3% 15% 3%;}
    #section6 .center-site{left:34%;}
    #section6 div div.tercio-left div p, #section6 div div.tercio-right div p{margin:0 0 0 9%;padding-top:35%;}
    #section6 div div.tercio-left div a.bottom-precio, #section6 div div.tercio-right div a.bottom-precio, #section6 div div.tercio-central div a{left:3%;color:#41a62a;}
    #section6 div div.tercio-central div ul, #section6 div div.tercio-left div ul, #section6 div div.tercio-right div ul{margin-top:15%;}.top5{margin-bottom:0;}
    #section6 div div.tercio-central div ul{font-size:1.5em;line-height:1.5em;}
    #section6 div div.tercio-central div p{padding-top:12%;margin:0 0 5% 9%;}
    #section6 div div.tercio-central div{margin-top:12%;}
    div.linea{display:inline-block;}.linea{border-bottom:1px solid #ff0000;margin:0;width:100%;}
    .mapa-mobile{display:none;}div.mapa{display:inline-block;position:absolute;width:49%;left:50%;top:0;}
    .left-site-contact{position:absolute;display:contents;width:100%;}
    .title-contact{font-size:2em;margin:0 0 0 5%;}
    .contactMe{margin:2% 5%;}.contactMe.medium{max-width:540px;}
    .contactMe .field, .contactMe *{font-size:16px;}.contactMe input, .contactMe .select2-container .select2-selection{height:40px;}
    .text-address{font-size:1.2em;left:5%;}.contactMe textarea{height:85px;}
    .phones{left: 17%;width: 50%;margin:-4% 0 0 0;}.social-icons{left: 5%;font-size:1.5em;}
    i.pointer{position:absolute;top:42%;font-size:4em;color:#ff0000;left:46%;-webkit-animation: jump 1.5s ease 0s infinite normal;
    animation: jump 1.5s ease 0s infinite normal;}
    div.mapa{background-image: url('../img/mapa-1366.jpg');background-repeat:no-repeat;height:100%;width:50%;}
    #section5 div div:nth-child(4) a{left:34%;top:82%;}
    .pp-viewing-contact div#pp-nav{right: -5%;transition-duration:1s;}
    .social-icons a{color:#fff;}
}
@media only screen and (min-width: 1920px) {
    #section1{background-image: url('../img/Section1-1920px.jpg');}
    #section2{background-image: url('../img/Section2-1920px.jpg');}
    #section3{background-image: url('../img/Section3-1920px.jpg');}
    #section4{background-image: url('../img/Section4-1920px.jpg');}
    .title{font-size:4.5em;}#menu li{font-size: 1.2em;}.precio-diez{top:43%;font-size: 4.5em;}
    #section2 div div h6{font-size:3em;}#section3 h6.title-light{top:71%;font-size: 3em;}
    #section5 .title{font-size: 4em;}.black, .black2{font-size:4em;}
    div.tercio-left1 h4, div.tercio-right1 h5, div.tercio-central1 h5{font-size: 1.2em;}
    #section5 div div:nth-child(4) a{top:77%;}.title-prices{font-size: 2em;}
    .title-prices-central{font-size: 2.8em;}.par-prices{font-size: 1.2em;}
    p.precio{font-size: 3.5em;}#section6 div div.tercio-left div a.bottom-precio,
    #section6 div div.tercio-right div a.bottom-precio,
    #section6 div div.tercio-central div a{font-size: 2em;}
    #section6 div div.tercio-left div p, #section6 div div.tercio-right div p{margin:0 0 7% 9%;}
    #section6 div div.tercio-central div p{margin:0 0 10% 9%;}.contactMe.medium{max-width:650px;}
    .contactMe input, .contactMe .select2-container .select2-selection{height: 60px;}
    .social-icons{font-size: 2em;}.text-address{font-size: 1.7em;}.contactMe textarea{height:140px;}
    div.mapa{background-image: url('../img/mapa-1920.jpg');background-repeat:no-repeat;height:100%;width:50%;}
    i.pointer{top:45%;left:48%;}


/* Animations
    --------------------------------------- */

.slideInRight {
  -webkit-animation-name: slideInRight;
  animation-name: slideInRight;
  -webkit-animation-duration: 1s;
  animation-duration: 1s;
  -webkit-animation-fill-mode: both;
  animation-fill-mode: both;}

  @-webkit-keyframes slideInRight {
  0% {-webkit-transform: translateX(100%);
      transform: translateX(100%);
      visibility: visible;}

  100% {-webkit-transform: translateX(0);
      transform: translateX(0);}
  }
  @keyframes slideInRight {
  0% {-webkit-transform: translateX(100%);
  transform: translateX(100%);
  visibility: visible;}
  100% {-webkit-transform: translateX(0);
  transform: translateX(0);}
  }

  .slideOutRight {
  -webkit-animation-name: slideOutRight;
  animation-name: slideOutRight;
  -webkit-animation-duration: 1s;
  animation-duration: 1s;
  -webkit-animation-fill-mode: both;
  animation-fill-mode: both;}

  @-webkit-keyframes slideOutRight {
  0% {-webkit-transform: translateX(0);
    transform: translateX(0);}
  100% {visibility: hidden;
    -webkit-transform: translateX(100%);
    transform: translateX(100%);}
  }
  @keyframes slideOutRight {
  0% {-webkit-transform: translateX(0);
  transform: translateX(0);}
  100% {visibility: hidden;
  -webkit-transform: translateX(100%);
  transform: translateX(100%);}
  }


@-webkit-keyframes fadeIn {
  from {opacity: 0;}
  to {opacity: 1;}
}

@keyframes fadeIn {
  from {opacity: 0;}
  to {opacity: 1;}
}

.fadeIn {
  -webkit-animation-name: fadeIn;
  animation-name: fadeIn;
  -webkit-animation-duration: 3s;
  animation-duration: 3s;
  animation-delay: 1s;
  -webkit-animation-delay: 1s;
}

.slideInLeft {
  -webkit-animation-name: slideInLeft;
  animation-name: slideInLeft;
  -webkit-animation-duration: 1s;
  animation-duration: 1s;
  -webkit-animation-fill-mode: both;
  animation-fill-mode: both;}

  @-webkit-keyframes slideInLeft {
  0% {-webkit-transform: translateX(-100%);
  transform: translateX(-100%);
  visibility: visible;}
  100% {-webkit-transform: translateX(0);
  transform: translateX(0);}
  }
  @keyframes slideInLeft {
  0% {-webkit-transform: translateX(-100%);
  transform: translateX(-100%);
  visibility: visible;}
  100% {-webkit-transform: translateX(0);
  transform: translateX(0);}
  }

.pulse {-webkit-animation-name: pulse;
    animation-name: pulse;
    -webkit-animation-duration: 1s;
    animation-duration: 1s;
    -webkit-animation-fill-mode: both;
    animation-fill-mode: both;}

    @-webkit-keyframes pulse {
    0% {-webkit-transform: scale3d(1, 1, 1);
    transform: scale3d(1, 1, 1);}
    50% {-webkit-transform: scale3d(1.05, 1.05, 1.05);
    transform: scale3d(1.05, 1.05, 1.05);}
    100% {-webkit-transform: scale3d(1, 1, 1);
    transform: scale3d(1, 1, 1);}
    }
    @keyframes pulse {
    0% {-webkit-transform: scale3d(1, 1, 1);
    transform: scale3d(1, 1, 1);}
    50% {-webkit-transform: scale3d(1.05, 1.05, 1.05);
    transform: scale3d(1.05, 1.05, 1.05);}
    100% {-webkit-transform: scale3d(1, 1, 1);
    transform: scale3d(1, 1, 1);}
    }
 .saltito {
 font-size:70px;
 font-weight:bold;
 color:#4794D3;
 width:300px;
 margin:90px auto;

 -webkit-animation: jump 1.5s ease 0s 4 normal ;
 animation: jump 1.5s ease 0s 4 normal ;
}

@-webkit-keyframes jump {
  0%{-webkit-transform: translateY(0);
	transform: translateY(0);}
  20%{-webkit-transform: translateY(0);
	transform: translateY(0);}
  40%{-webkit-transform: translateY(-30px);
	transform: translateY(-30px);}
  50%{-webkit-transform: translateY(0);
	transform: translateY(0);}
  60%{-webkit-transform: translateY(-15px);
	transform: translateY(-15px);}
  80%{-webkit-transform: translateY(0);
	transform: translateY(0);}
  100%{-webkit-transform: translateY(0);
	transform: translateY(0);}
}

@keyframes jump {
  0%{transform: translateY(0);}
  20%{transform: translateY(0);}
  40%{transform: translateY(-30px);}
  50%{transform: translateY(0);}
  60%{transform: translateY(-15px);}
  80%{transform: translateY(0);}
  100%{transform: translateY(0);}
}

.slideInRight {
  -webkit-animation-name: slideInRight;
  animation-name: slideInRight;
  -webkit-animation-duration: 1s;
  animation-duration: 1s;
  -webkit-animation-fill-mode: both;
  animation-fill-mode: both;}
  @-webkit-keyframes slideInRight {
  0% {-webkit-transform: translateX(100%);
  transform: translateX(100%);
  visibility: visible;}
  100% {-webkit-transform: translateX(0);
  transform: translateX(0);}
}
  @keyframes slideInRight {
  0% {-webkit-transform: translateX(100%);
  transform: translateX(100%);
  visibility: visible;}
  100% {-webkit-transform: translateX(0);
  transform: translateX(0);}
  }

  .slideOutRight {
  -webkit-animation-name: slideOutRight;
  animation-name: slideOutRight;
  -webkit-animation-duration: 1s;
  animation-duration: 1s;
  -webkit-animation-fill-mode: both;
  animation-fill-mode: both;}
  @-webkit-keyframes slideOutRight {
  0% {-webkit-transform: translateX(0);
  transform: translateX(0);}
  100% {visibility: hidden;
  -webkit-transform: translateX(100%);
  transform: translateX(100%);}
  }
  @keyframes slideOutRight {
  0% {-webkit-transform: translateX(0);
  transform: translateX(0);}
  100% {visibility: hidden;
  -webkit-transform: translateX(100%);
  transform: translateX(100%);}
  }
